.btn-search {
    background: #27bc71;
    border-color: #27bc71;
    cursor: pointer;
}

.btn-disable {
    background: #d6efe3;
    border-color: #d6efe3;
    cursor: not-allowed;
}

.btn-disable, .btn-search {
    margin-top: 20px;
    text-align: center;
    padding: 1.2rem 2rem;
    border-radius: 100px;
    color: #fff;
    font-family: 'Inter';
    font-size: 14px;
}

.btn-container, .btn-disable {
    /* display: flex;
    flex-direction: row; */
    width: -webkit-fill-available;
}

.btn-search:hover {
    background: #024736;
    color: #FFFFFF;
}

button.btn-search.btn-container {
  position: relative !important;
}