
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
body {
  background: #fff;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  background: unset;
}

button {
  transition: 0.4s all;
}

a {
  text-decoration: none;
  color: #646464;
  margin-top: 15px;
}

a:hover, a:focus, a:active {
  color: #4894ff;
  text-decoration: none;
}

nav.navbar {
  background: #fff;
}
 
body {
  margin: 0;
  line-height: normal;
}

html, body {
 overflow: hidden;
}

:root {
  /* fonts */
  --font-manrope: Manrope;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 0.75rem;

  /* Colors */
  --color-white: #fff;
  --icone-input: #adacad;
  --color-darkgray-100: rgba(166, 166, 166, 0.12);
  --color-dimgray: #626262;
  --preto: #333;
  --brand-1: #05010d;

  /* Paddings */
  --padding-3xs: 0.63rem;

  /* border radiuses */
  --br-3xs: 10px;
  --br-xs: 12px;

  /* Effects */
  --sombra-1: 0px 2px 30px rgba(53, 56, 90, 0.12);
}
